.a1
{
    background-color: #0F3D78;
    color: white;
    padding: 50px;
    font-size: 50px; 
}
header
{
  position: sticky;
  top: 0%;
}
.d1
{
    border:#0F3D78 solid 40px;
    background-color: #0F3D78;
    font-size: larger;
}
.d1 a {
  padding-left: 50px;
}
h2,h1
{
    color: #0F3D78;
    font-family: Arial;
    
    font-size: 30px;
  
}
i
{
  color: #0F3D78;
}
.h3
{
  margin-left: 50px;
  color: #0F3D78;
}
.a2{
  color: rgb(52, 51, 51);
}
pre{
    background-color: #b0cff9;
    padding: 30px;
}
.d2
{
  background-color: #F7F4EA;
}
select
{
    background-color: rgb(18, 214, 155);
}
select:hover
{
  color: #9706349d;
}

.products
{
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background-color: #b4cff3;
border: rgb(197, 195, 195) solid 1px ;
}

.product-grid {
  display: grid;
  gap: 20px;
  background-color: #62a3f9;
}

.product-card {
  background-color: #89b7f2;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
}

.product-name {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.product-price {
  color: #555;
  font-size: 16px;
}
a
{
    text-decoration: none;
    color: white;
}

.reviews{
  display: inline-flex;
  margin: 20px;
  position: relative;
  
}
.d3
{
  background-image: linear-gradient(to right,#4d72a2,#066aed,#0F3D78);
  display: inline-flex;
  margin: 20px;
  border: rgb(178, 176, 176) solid 1px;
}
.p1
{
  background-color:rgb(225, 206, 130) ;
  margin: 40px;
  
}
footer
{
  background-color: #066aed;
  color: white;
  display: inline-flex;
  width: 100%;
  gap: 80px;
}

.f1
{
  margin-left: 50px;
}