*
      {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
     .container{
        background-color: white;
        width: 290px;
     }
     .heading{
        text-align: center;
        padding-top:25px ;
        padding-bottom:10px ;
     }
     .btn-1{
        margin: 20px
     }
     .btn{
        border: none;
        width: 49%;
        padding: 10px;
        font-weight: 600;
        font-size: 15px
     }
     .btn:nth-child(1){
        border: 0.1px solid rgb(255, 216, 216);
        position: relative;
        left: 2.5px;
        z-index: 1;
     }
     .btn:nth-child(2){
        border: 0.1px solid rgb(255, 216, 216);
        background-color: white;
        color: rgb(0, 0, 0);
        position: relative;
        right: 2.5px;
        z-index: 2;
     }
     .btn:nth-child(1):hover,
     .btn:nth-child(2):hover,
     .btn-3:hover{
        cursor: pointer;
        letter-spacing: 2px;
     }
     .text-box{
        margin: 22px;
     }
     input{
        border: none;
        width: 90%;
        padding: 10px;
        display: block;
        margin-bottom: 20px;
        outline: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        color: #e646f8
     }
     .a1{
        text-decoration: none;
        position: relative;
        top: -8px;
        color: crimson
     }
     .btn-3{
        position: relative;
        top: -30px;
        border: none;
        width: 84%;
        margin: 22px;
        padding: 10px;
        font-weight: 600;
        font-size: 15px;
     }
     .not{
        position: relative;
        top: -30px;
        text-align: center;
     } 
     .a2{
        text-decoration: none;
        padding-left: 3px;
        color: crimson;
     }
     a:hover{
        letter-spacing: 1px;
     }